In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("sl.csv")
print(df)

   S.NO     NAME  AGE  SALARY   DEPT GENDER
0     1  LAVANYA   23   10000    CSE      F
1     2  MAHITHA   25   20000    CSE      F
2     3     YOGI   23   23466    ECE      M
3     4     TEJU   25   12344    ECE      F
4     5      SAI   26   34567   MECH      M
5     6   MANASA   24   34568   MECH      F
6     7  SHARATH   28   12345  CIVIL      M
7     8  SAHITHI   23   23456  CIVIL      F

In [6]:
a=print(df.groupby(["GENDER"]))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000022D37C8C4F0>

In [3]:
print(df.groupby(["GENDER"]).mean())

        S.NO        AGE        SALARY
GENDER
F        4.2  24.000000  20073.600000
M        5.0  25.666667  23459.333333

In [4]:
print(df.groupby(["GENDER","DEPT"]))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000022D37969EA0>

In [9]:
a=df.groupby(["GENDER","DEPT"])
print(a)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000022D3373B1F0>

In [10]:
print(a.groups)

{('F', 'CIVIL'): [7], ('F', 'CSE'): [0, 1], ('F', 'ECE'): [3], ('F', 'MECH'): [5], ('M', 'CIVIL'): [6], ('M', 'ECE'): [2], ('M', 'MECH'): [4]}

In [13]:
print(df.groupby(["DEPT"]).mean())

       S.NO   AGE   SALARY
DEPT
CIVIL   7.5  25.5  17900.5
CSE     1.5  24.0  15000.0
ECE     3.5  24.0  17905.0
MECH    5.5  25.0  34567.5

In [14]:

print(df.groupby(["DEPT"]).max())

       S.NO     NAME  AGE  SALARY GENDER
DEPT
CIVIL     8  SHARATH   28   23456      M
CSE       2  MAHITHA   25   20000      F
ECE       4     YOGI   25   23466      M
MECH      6      SAI   26   34568      M

In [16]:
print(df.groupby(["GENDER"]).max())

        S.NO  NAME  AGE  SALARY  DEPT
GENDER
F          8  TEJU   25   34568  MECH
M          7  YOGI   28   34567  MECH

In [17]:
print(df.groupby(["DEPT"]).groups)

{'CIVIL': [6, 7], 'CSE': [0, 1], 'ECE': [2, 3], 'MECH': [4, 5]}

In [18]:
print(df.groupby(["GENDER"]).groups)

{'F': [0, 1, 3, 5, 7], 'M': [2, 4, 6]}

In [19]:
g=df.groupby(["GENDER"])
print(g.get_group("M"))

   S.NO     NAME  AGE  SALARY   DEPT GENDER
2     3     YOGI   23   23466    ECE      M
4     5      SAI   26   34567   MECH      M
6     7  SHARATH   28   12345  CIVIL      M

In [20]:
print(g.get_group('F'))

   S.NO     NAME  AGE  SALARY   DEPT GENDER
0     1  LAVANYA   23   10000    CSE      F
1     2  MAHITHA   25   20000    CSE      F
3     4     TEJU   25   12344    ECE      F
5     6   MANASA   24   34568   MECH      F
7     8  SAHITHI   23   23456  CIVIL      F

In [21]:
df["GENDER"].value_counts()

F    5
M    3
Name: GENDER, dtype: int64