In [3]:
## CREATION OF SERIES FROM SCALAR VALUES
import pandas as pd
a=pd.Series([1,2,3])
print(a)

0    1
1    2
2    3
dtype: int64

In [6]:
import pandas as pd
a=pd.Series(["a","b","l"],index=([1,2,3]))
print(a)

1    a
2    b
3    l
dtype: object

In [7]:
## creation of series from numpy as arrays
import numpy as np
import pandas as pd
a=np.array([1,2,3])
b=pd.Series(a)
print(b)

0    1
1    2
2    3
dtype: int32

In [9]:
## creation of Series from Dictionary
d={'a':1,'b':2,'c':3}
print(d)
b=pd.Series(d)
print(b)

{'a': 1, 'b': 2, 'c': 3}
a    1
b    2
c    3
dtype: int64

In [10]:
## ACESSING ELEMENTS OF A SERIES
import pandas as pd
a=pd.Series(["a","b","c"])
a[2]

'c'

In [11]:
import pandas as pd
b=pd.Series([1,2,3],index=["a","b","c"])
s=b["a"]
print(s)

1

In [12]:
d=b[[1,2]]
print(d)

b    2
c    3
dtype: int64

In [13]:
import pandas as np
a=pd.Series(["lavanya","swathi","teju","mahi","siri"],index=[1,2,3,4,5])
print(a)

1    lavanya
2     swathi
3       teju
4       mahi
5       siri
dtype: object

In [16]:
######## ATTRIBUTES OF  A SERIES ############
import pandas as pd
a=pd.Series(["lavanya","swathi"],index=[1,2])
a.empty
print(a)

1    lavanya
2      swthi
dtype: object

In [17]:
######## METHODS OF SERIES ########
import numpy as np
import pandas as pd
a=pd.Series(np.arange(5,10,1))
print(a)

0    5
1    6
2    7
3    8
4    9
dtype: int32

In [18]:
a.head()

0    5
1    6
2    7
3    8
4    9
dtype: int32

In [19]:
a.head(3)

0    5
1    6
2    7
dtype: int32

In [20]:
a.count()

5

In [21]:
a.tail()

0    5
1    6
2    7
3    8
4    9
dtype: int32

In [22]:
a.tail(3)

2    7
3    8
4    9
dtype: int32

In [23]:
 ###### MATHEMATICAL OPERATIONS ##################
import pandas as pd
import numpy as np
a=pd.Series([1,2,3])
b=pd.Series([5,6,7])
print(a+b)

0     6
1     8
2    10
dtype: int64

In [24]:
print(a-b)

0   -4
1   -4
2   -4
dtype: int64

In [25]:
print(a*b)

0     5
1    12
2    21
dtype: int64

In [26]:
print(a/b)

0    0.200000
1    0.333333
2    0.428571
dtype: float64

In [1]:
######## DATAFRAME ###########
import pandas as pd
import numpy as np
a=np.array([1,2,3])
b=np.array([4,5,6])
c=np.array([9,10,11])
d=pd.DataFrame(a)
print(d)

   0
0  1
1  2
2  3

In [2]:
import pandas as pd
import numpy as np
dict=[{"lavanya":1,"mahitha":2,"teju":3,"siri":4}]
e=pd.DataFrame(dict)
print(e)

   lavanya  mahitha  teju  siri
0        1        2     3     4

In [3]:
a=pd.Series([{"lavanya":1,"mahitha":2,"teju":3,"siri":4}])
d=pd.DataFrame(a)
print(d)

                                                   0
0  {'lavanya': 1, 'mahitha': 2, 'teju': 3, 'siri'...

In [4]:
import pandas as pd
dict={'student':["lavanya","mahitha","siri","teju"],'section':["a","b","c","d"],"marks":[100,200,300,400]}
a=pd.DataFrame(dict)
print(a)

   student section  marks
0  lavanya       a    100
1  mahitha       b    200
2     siri       c    300
3     teju       d    400

In [9]:
####### OPERATIONS ON ROWS AND COLUMNS IN A DATAFRAME
import pandas as pd
a={'Lavanya': pd.Series([90,91,93],
    index=["MATHS","SCIENCE","HINDI"]),
  'Mahitha':pd.Series([92,81,89],
  index=["MATHS","SCIENCE","HINDI"]),
  'Siri':pd.Series([96,98,94],
    index=["MATHS","SCIENCE","HINDI"]),
  'Teju':pd.Series([90,100,97],
   index=["MATHS","SCIENCE","HINDI"])}

MS=pd.DataFrame(a)
print(MS)

         Lavanya  Mahitha  Siri  Teju
MATHS         90       92    96    90
SCIENCE       91       81    98   100
HINDI         93       89    94    97

In [10]:
# ADDING new column
MS['Manasa']=['90','95','96']
print(MS)

         Lavanya  Mahitha  Siri  Teju Manasa
MATHS         90       92    96    90     90
SCIENCE       91       81    98   100     95
HINDI         93       89    94    97     96

In [11]:
#change data of an entire column to a particular value in a DataFrame
MS["Lavanya"]=93
print(MS)

         Lavanya  Mahitha  Siri  Teju Manasa
MATHS         93       92    96    90     90
SCIENCE       93       81    98   100     95
HINDI         93       89    94    97     96

In [13]:
# Adding a New Row to a DataFrame
MS.loc['DSP']=['89','86','87','89','84']
print(MS)

        Lavanya Mahitha Siri Teju Manasa
MATHS        93      92   96   90     90
SCIENCE      93      81   98  100     95
HINDI        93      89   94   97     96
DSP          89      86   87   89     84

In [15]:
#change the data values of a row to a particular value
MS.loc['SCIENCE']=20
print(MS)

        Lavanya Mahitha Siri Teju Manasa
MATHS        93      92   96   90     90
SCIENCE      20      20   20   20     20
HINDI        93      89   94   97     96
DSP          89      86   87   89     84

In [16]:
#we can set all values of a DataFrame to a particular value
MS.loc[:]=90
print(MS)

         Lavanya  Mahitha  Siri  Teju  Manasa
MATHS         90       90    90    90      90
SCIENCE       90       90    90    90      90
HINDI         90       90    90    90      90
DSP           90       90    90    90      90

In [19]:
#Deleting Rows or Columns from a DataFrame
MS=MS.drop('SCIENCE',axis=0)
print(MS)

       Lavanya  Mahitha  Siri  Teju  Manasa
MATHS       90       90    90    90      90
HINDI       90       90    90    90      90
DSP         90       90    90    90      90

In [21]:
#DELETING A COLUMN
MS=MS.drop(['Manasa'],axis=1)
print(MS)

       Lavanya  Mahitha  Siri  Teju
MATHS       90       90    90    90
HINDI       90       90    90    90
DSP         90       90    90    90

In [24]:
#Renaming Row Labels of a DataFrame
a=MS.rename({'MATHS':'SUB1','HINDI':'SUB2','DSP':'SUB3'},axis='index')
print(a)

      Lavanya  Mahitha  Siri  Teju
SUB1       90       90    90    90
SUB2       90       90    90    90
SUB3       90       90    90    90

In [26]:
b=MS.rename({'Lavanya': 'student1','Mahitha':'student2','Siri':'student3','Teju':'student4'},axis='columns')
print(b)

       student1  student2  student3  student4
MATHS        90        90        90        90
HINDI        90        90        90        90
DSP          90        90        90        90

In [27]:
#Accessing DataFrames Element through Indexing
import pandas as pd
a={'Lavanya': pd.Series([90,91,93],
    index=["MATHS","SCIENCE","HINDI"]),
  'Mahitha':pd.Series([92,81,89],
  index=["MATHS","SCIENCE","HINDI"]),
  'Siri':pd.Series([96,98,94],
    index=["MATHS","SCIENCE","HINDI"]),
  'Teju':pd.Series([90,100,97],
   index=["MATHS","SCIENCE","HINDI"])}

MS=pd.DataFrame(a)
print(MS)

         Lavanya  Mahitha  Siri  Teju
MATHS         90       92    96    90
SCIENCE       91       81    98   100
HINDI         93       89    94    97

In [29]:
b=MS.loc['SCIENCE']
print(b)

Lavanya     91
Mahitha     81
Siri        98
Teju       100
Name: SCIENCE, dtype: int64

In [31]:
print(MS['Lavanya'])

MATHS      90
SCIENCE    91
HINDI      93
Name: Lavanya, dtype: int64

In [32]:
### Boolean Indexing
a=MS.loc['MATHS']>90
print(a)

Lavanya    False
Mahitha     True
Siri        True
Teju       False
Name: MATHS, dtype: bool

In [35]:
b=MS.loc['MATHS':'SCIENCE','Lavanya']
print(b)

MATHS      90
SCIENCE    91
Name: Lavanya, dtype: int64

In [36]:
b=MS.loc['MATHS':'SCIENCE','Lavanya':'Teju']
print(b)

         Lavanya  Mahitha  Siri  Teju
MATHS         90       92    96    90
SCIENCE       91       81    98   100